.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination__button {
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination__button:hover,
  .pagination__button.active {
    background-color: gray;
    color: white;
  }
  